"*":
  "atom-ctags": {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    minimumWordLength: 1
  core:
    disabledPackages: [
      "symbols-view"
    ]
    themes: [
      "one-dark-ui"
      "atom-monokai"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "07d45b74-05ff-66bb-4800-0c43aa99271d"
  welcome:
    showOnStartup: false
